
@keyframes ldio-jtxwkshkfed {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-jtxwkshkfed div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #61dafb;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-jtxwkshkfed div {
  animation: ldio-jtxwkshkfed 1s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-8s6xc14p1o {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-jtxwkshkfed {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-jtxwkshkfed div { box-sizing: content-box; }