.list-item {
  width: calc(100% / 3);
  padding: 1rem;
  cursor: pointer;

  @media only screen and (max-width: 1100px) {
    width: 50%;
  }
  @media only screen and (max-width: 600px) {
   width: 100%;
 }

  &__content {
  box-shadow: 0 4px 2px -2px black;
    background-color: white;
    border: 1px solid rgba(#000000, 0.3);
    border-radius: 1rem;
    overflow: hidden;
    padding: 1rem;
    transition: 0.5s;
    &:hover {
      box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
      transform: translateY(-10px);
      @media only screen and (max-width: 600px) {
        transform: none;
        box-shadow: none;
      }
    }
  }

  &__img {
    width: 100%;
  }
  &__name {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
  
  }
  &__badge {
    margin: 0.2rem .3rem;
    display: inline-block;
    background-color: rosybrown;
    border-radius: 3px;
    padding: 0.3rem;
    font-size: .8rem;
  }
}
